
/* utilities */

body{
    margin-top: 120px;
    font-family: sans-serif;
}

.bg-gray{
    background-color: #D9DADC;
}
/* to remove */

[class*='col']{
    border: 1px dashed red;
    
}

[class*='row']{
    border: 1px dashed violet;
    
}
/* header */


header{
    height: 120px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header-top{
    height: 40px;
    background-color: #000;
}

.logo-container{
    height: 35px;
    width: 120px;


}

.logo-container > img{
    margin-top: 8px;
}

.header-bottom{
    height: 80px;
}
/* jumbotron and baner */

.jumbotron{
    height: 570px;
    background-image: url(../img/jumbo-bg.png) ;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.baner{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* main sections */

#new-arivals{
    background-color: #1F1F1F;
    color: #fff;
}

/* playstation plus */
#playstation-plus{
    background-color: #BEBCBB;
}

/* playstation now */

#playstation-now{
    background-color: #161C3B;
    color: #fff;
}

/* playstation plus */

.img-playstation-plus{
    width: 60%;
}

.img-playstation-plus-monthli{
    width: 70%;
}

/* footer */
footer{
    background-color: #00439C;
    color: #fff;
}