
/* utilities */


/* to remove */

[class*='col']{
    border: 1px dashed red;
    min-height: 100px;
}

/* header */

body{
    margin-top: 120px;
}

header{
    height: 120px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header-top{
    height: 40px;
    background-color: #000;
}

.header-bottom{
    height: 80px;
}
/* jumbotron and baner */

.jumbotron{
    height: 570px;
    background-image: url(../img/jumbo-bg.png) ;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.baner{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* main sections */

#new-arivals{
    background-color: #1F1F1F;
    color: #fff;
}