
/* utilities */

body{
    margin-top: 120px;
    font-family: sans-serif;
}

.bg-gray{
    background-color: #D9DADC;
}

img{
    display: block;
}

/* header */


header{
    height: 120px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header-top{
    height: 40px;
    background-color: #000;
}

.logo-container{
    height: 35px;
    width: 120px;


}

.logo-container > img{
    margin-top: 8px;
}

.header-bottom{
    height: 80px;
}
/* jumbotron and baner */

.jumbotron{
    
    background-position: center;
    background-size: cover;
    color: #fff;
}

#main-jumotron{
    background-image: url(../img/jumbo-bg.png) ;
    height: 570px;
}

#baner{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    min-height: 570px;
}

/* main sections */

#new-arivals{
    background-color: #1F1F1F;
    color: #fff;
}

/* console and acsesories */
.acsesory > *{
    border-bottom: 5px solid transparent;
    padding: 5px;
    opacity: .5;
}

.acsesory > *:hover{
    border-bottom: 5px solid #0065ca;
    transform: translatey(-15px);
    padding: 5px;
    opacity: 1;
    cursor: pointer;
}

/* explore playstation */

.fa-registered{
    font-size: 10px;
}

/* playstation plus */
#playstation-plus{
    background-color: #BEBCBB;
}

.img-playstation-plus{
    width: 60%;
}
/* playstation now */

#playstation-now{
    background-color: #161C3B;
    color: #fff;
}




.img-playstation-plus-monthli{
    width: 70%;
}

/* footer */
footer{
    background-color: #00439C;
    color: #fff;
}

footer a{
    text-decoration: none;
    color: currentColor;
}

/* hover btn */
.btn:hover{
    box-shadow: 0 0 1px 2px white inset;
    border: 3px solid inherit;
    
}
.btn{
    border: 3px solid transparent;
}

/* jumbo nav hover */

.games > * > *:hover{
    border: 5px solid #0065ca;
    box-shadow: 10px 10px 30px black;
    transform: translatey(-15px);
    cursor: pointer;
}
